<h2>Edit post</h2>

<form class="form login-form">
    <div class="form-group">
    <p>Post title:</p>
    <h3 class="form-field" id="title" contenteditable="true">{{post.name}} </h3>
  </div>
  <div>
  <p>Blog description:</p>
     <p class="form-field" id="desc" contenteditable="true">{{post.description}}</p>
    <p>Blog content:</p>
    <p class="form-field" contenteditable="true" id="post-text">{{post.content}}</p>
  </div>
  <div class="form-group">
    <button class="btn" type="submit" id="update">Update Post</button>
    <button class="btn" type="submit" id="delete">Delete Post</button>
  </div>
</form>

<script src="/js/deletepost.js"></script>
<script src="/js/updatepost.js"></script>